.inputContainer {
    font-size: 1rem;
    margin-bottom: 2em;
}



.input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.7em 1em;
    margin-top: 0.3em;
    border: 1px solid #2196f3;
    box-shadow: none;
    border-radius: 0.4em;
    color: black;
    font-size: 1em;
    transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
}



.input:hover {
    cursor: pointer;
}

.input:focus {
    outline: 1px solid #2196f3;
}

.errorMessage {
    margin-top: 0.5em;
    font-size: 1em;
    color: #ff4646;
}


.invalid {
    color: #ff4646;
}
