.container {
    width: clamp(320px, 70vw, 650px);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 7px 22px -12px rgba(0, 0, 0, 0.75);
    
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formHeader {
    text-align: center;
    margin-bottom: 25px;
}


.uploadedImage {
    margin: 10px auto;
}


.buttonsContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.uploadedImgContainer {
    position: relative;
    background-color: #eaeaea;
    border-radius: 5px;
    margin: 0 auto;
}


.removeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.removeButton:hover {
    background-color: #eeeeee;
}

.removeButton svg {
    width: 16px;
    height: 16px;
    fill: #999999;
}


.errorMessage {
    margin: 1.4em 0 0.4em 0;
    text-align: center;
    font-size: 1.1em;
    color: #ff4646;
}
