.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.info {
    color: #585858;
}

.redirectLink {
    margin-left: 4px;
    color: #2196f3;
    font-weight: bold;
}
