.container {
    width: clamp(320px, 70vw, 550px);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 7px 22px -12px rgba(0, 0, 0, 0.75);
}


.form {
    display: flex;
    flex-direction: column;
}

.formHeader {
    text-align: center;
    margin-bottom: 25px;
}

.buttonsContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.errorMessage {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.1em;
    color: #ff4646;
}
