.button {
    background-color: #2196f3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px 0;
}

.disabled {
    background-color: #cccccc;
    color: #585757;
    cursor: not-allowed;
}
