.inputContainer {
    position: relative;
    width: 60%;
    height: 100%;
    padding-bottom: 0.4em;
    background-color: white;
    margin: 0 auto 2em auto;
    font-size: 1rem;
    border: 3px dotted #2196f3;
    border-radius: 20px;
    text-align: center;
}

.input {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}

.input:hover {
    cursor: pointer;
}

.uploadContent {
    display: flex;
    flex-direction: column;
    place-items: center;
    height: 100%;
    width: 100%;
    gap: 5px;
    padding: 2em;
}

.uploadContent_dragInfo {
  font-size: 1.2em;
  font-weight: bold;
}

.uploadContent_browseInfo {
    font-size: 1.1em;
}

.uploadContent_image {
 width: 30px;
 height: 30px;
}


.errorMessage {
    margin-top: 0.5em;
    font-size: 1em;
    color: #ff4646;
}

